# Challenge Title: Advanced Angular User List App with Filtering and Sorting



## Challenge Description

Build an advanced Angular application that demonstrates your expertise in Angular components, services, RxJS, SCSS, and Angular Material. Your task is to create an Angular app that loads a list of users from a JSON file, allowing users to filter and sort the user list while adhering to specific guidelines.



## Requirements



- Set up a new Angular project using the Angular CLI.

- Utilize Angular Material components for a polished UI.

- Design a user interface displaying users' names, emails, and profile pictures using Angular Material components.

- Fetch user data from a provided JSON file using an Angular service and RxJS observables.

- Implement the ability to filter the user list based on either the user's name or email using Angular pipes and RxJS operators.

- Create a toggle button to change the sorting order of the user list between ascending and descending based on the selected sorting criterion (name or email) using RxJS operators.

- Handle errors during data fetching using RxJS observables and display error messages using Angular Material components.

- Implement a loading indicator using Angular Material components during data fetching.

- Employ SCSS to style the user list and UI elements responsively.



## JSON Data Format (users.json)



```json

[

  {

    "id": 1,

    "name": "John Doe",

    "email": "john@example.com",

    "avatar": "https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1470&q=80"

  },

  {

    "id": 2,

    "name": "Jane Smith",

    "email": "jane@example.com",

    "avatar": "https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1470&q=80"

  },

  {

    "id": 3,

    "name": "John Snow",

    "email": "winter@example.com",

    "avatar": "https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1470&q=80"

  },


]

```

## Evaluation Criteria

### Your solution will be evaluated based on the following criteria:



- Correct implementation of filtering and sorting features using Angular Material and RxJS.

- Effective utilization of Angular Material components for UI elements.

- Accurate data fetching and display from the JSON file using RxJS observables.

- Proper error handling and loading indicator implementation using RxJS observables and Angular Material.

- Code quality, modularity, and adherence to Angular best practices.

- Visual appeal, responsiveness, and user experience of the application.

- Submission

- Submit your advanced Angular User List App project (excluding node_modules) through the designated platform.

