<h1 class="center-text title">Users List</h1>

<app-search-bar (searchChanged)="onSearch($event)"></app-search-bar>
<div class="user-controls">
  <app-filters (filterChanged)="onFilter($event)"></app-filters>
  <app-sorting (sortingChanged)="onSorting($event)"></app-sorting>
</div>
<div class="spinner-container" *ngIf="isLoading()">
  <mat-spinner></mat-spinner>
</div>

<div *ngIf="!isLoading()">
  <div class="card-container">
    <app-card
      *ngFor="let user of users"
      [user]="user"
      class="responsive-card"
    ></app-card>
  </div>
  <mat-error class="center-text error" *ngIf="searchError">
    {{ searchError }}
  </mat-error>
</div>

